<tr>
    <td style="text-align:left"> %(label)s </td>

    <td style="text-align:left"> %(sequence)s </td>

    <td style="text-align:center">
         <input type="radio" name="%(id)s" value="%(value)s"/>
         <span class="warninfo"><a href="#" title="apply changes to coordinates and header" onclick="return false">Coordinates & annotation remarks</a></span>
         &nbsp; &nbsp;
         <input type="radio" name="%(id)s" value="%(value)s,only"/>
         <span class="warninfo"><a href="#" title="apply changes to header only" onclick="return false">Annotation remarks</a></span>
    </td>

    <td style="text-align:center">
       <input type="text" name="%(user_defined_id)s" size="15" />
    </td>
</tr>
