        <span style="font-weight:bold; font-size:16px">
            How to address the "No Hit found from Graph Match Search" instance(s) due to geometry issue if the modified amino acid residue ID(s) is(are) known:
            <ul>
                <li> Click the "Edit / Create New Ligand" link to open the "Chemical Component Editor" tab </li>
                <li> Check the graph inside the Chemical Component Editor to see if they are any missing/extra bonds due to bad geometry </li>
                <li> Edit the graph by adding missing bond(s)/removing extra bond(s) inside Chemical Component Editor </li>
                <li> Save the editing by click the "Save" button and close the "Chemical Component Editor" tab </li>
                <li> Put the modified amino acid residue ID into the "CC ID:" box </li>
            </ul>
        </span>
