<tr>
    <td style="text-align:left" colspan="3">
       <input type="radio" name="%(match_id)s" value="%(selection)s" /> &nbsp; &nbsp; &nbsp; 
       <a href="http://cc-tools.rutgers.edu/pyapps/ccHandler.py?formid=ccview&idcodes=%(ccid)s" target="_blank"> %(ccid)s (%(cstatus)s) </a>
    </td>
    <td style="text-align:center"> %(value)s </td>
    <td style="text-align:center">
       <a href="/service/entity/mcs_match_view?sessionid=%(sessionid)s&identifier=%(identifier)s&instanceid=%(instanceid)s&compid=%(ccid)s" target="_blank"> 2D View </a>
    </td>
</tr>
