<tr>
    <td style="text-align:left;border-style:none" colspan="4">&nbsp; &nbsp; &nbsp;</td>
</tr>

<tr>
    <td style="text-align:left;border-style:none" colspan="4">&nbsp; &nbsp; &nbsp;</td>
</tr>

<tr>
    <td style="text-align:left;border-style:none"><span style="font-weight:bold">Instance ID:</span></td>
    <td style="text-align:left;border-style:none" colspan="3">%(label)s</td>
</tr>

<tr>
    <td style="text-align:left;border-style:none"><span style="font-weight:bold">Sequence/Residue:</span></td>
    <td style="text-align:left;border-style:none" colspan="3">%(sequence)s</td>
</tr>

<tr>
    <td style="text-align:left;border-style:none"><span style="font-weight:bold">Update Type:</span></td>
    <td style="text-align:left;border-style:none" colspan="3">
         <input type="radio" name="%(id)s" value="%(value)s"/>
         <span class="warninfo"><a href="#" title="apply changes to coordinates and header" onclick="return false">Coordinates & annotation remarks</a></span> 
         &nbsp; &nbsp; &nbsp;
         <input type="radio" name="%(id)s" value="%(value)s,only"/>
         <span class="warninfo"><a href="#" title="apply changes to header only" onclick="return false">Annotation remarks</a></span> 
    </td>
</tr>
