<tr><td style="text-align:left;border-style:none" colspan="4">&nbsp; &nbsp; &nbsp;</td></tr>
<tr>
    <th colspan="5">
        <span class="warninfo">
             <a href="#" title="The values for MATCH STATUS are:<br/><br/>
                        MATCH: all atoms and chiral center(s) (if exist) are matched<br/><br/>
                        CLOSE MATCH: all atoms are matched, with mismatch chiral center(s)<br/><br/>
                        SUBSTRUCTURE: query molecule is a substructure of target molecule" onclick="return false">
             Hit(s) from Graph Match Search</a>
        </span>
    </th>
</tr>

<tr>
    <th colspan="3">Selection / Target ID</th>
    <th>Match Status</th>
    <th>View Match</th>
</tr>
