<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>%(identifier)s (%(pdbid)s) - Generating PRD </title>
<link rel="stylesheet" type="text/css" media="all" href="/ccmodule/styles/general.css" />
<link rel="stylesheet" type="text/css" media="all" href="/ccmodule/styles/oneColLiqCtrHdr.css" />
<link rel="stylesheet" type="text/css" media="all" href="/entity_transform_ui/styles/extra.css" />
<link rel="stylesheet" type="text/css" media="all" href="/ccmodule/styles/superfish.css" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/styles/themes/south-street/jquery-ui-1.8.2.custom.min.css" />
</head>

<body class="oneColLiqCtrHdr">
<div id="container">
     <div id="header">
          <div id="logo"><img src="/images/wwpdb_logo.gif" width="187" height="58" alt="logo" />
          </div>
          <div id="headerCont">
               <h1>Generating new PRD based on %(label)s from entry %(pdbid)s / %(identifier)s </h1>
          </div>
          <br class="clearfloat" />
     </div>
     <br class="clearfloat" />
     <br/>

     <div id="mainContent">
<pre>
Build new PRD failed:

%(message)s
</pre>
     </div>
</div>
</body>
</html>
