<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>TransMod: %(pdbid)s / %(identifier)s - Summary Page</title>
<link rel="stylesheet" type="text/css" media="all" href="/assets/styles/themes/south-street/jquery-ui-1.8.2.custom.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="/ccmodule/styles/general.css" />
<link rel="stylesheet" type="text/css" media="all" href="/ccmodule/styles/oneColLiqCtrHdr.css" />
<link rel="stylesheet" type="text/css" media="all" href="/ccmodule/styles/superfish.css" />
<link rel="stylesheet" type="text/css" media="all" href="/entity_transform_ui/styles/extra.css" />
<script type="text/javascript" src="/assets/js/jquery/core/jquery.min.js"></script>
<script type="text/javascript">

function select_ligand(buttonid) {
       var request = $('#' + buttonid).attr('value');
       $('#structure_summary').find('input[name="ligand"]').each(function() {
            if (request == 'Select All')
                 $(this).attr('checked', true);
            else $(this).attr('checked', false);
       });
       if (request == 'Select All') {
            $('#' + buttonid).attr('value', 'Unselect All');
       } else {
            $('#' + buttonid).attr('value', 'Select All');
       }
}

$(document).ready(function() {
       var sessionId = '%(sessionid)s';
       var identifier = '%(identifier)s';
       var ajaxTimeout = 60000;
       $.ajaxSetup({type: "POST",dataType: "json",async: true,timeout: ajaxTimeout,cache: false});

       $('.jshead').live("click", function() {
           var ele = $(this).find('span:first');
           ele.toggleClass('ui-icon-circle-arrow-s ui-icon-circle-arrow-e');
           $(this).next().toggle('slow');
           return false;
       });
       $.getScript('/assets/js/jquery/plugins/jquery.bt.min.js', function() {
           $('.warninfo [title]').bt({positions:['most'], width:300, centerPointX:.8,
                                      spikeLength:10, spikeGirth:15, padding:'15px',
                                      fill:'#FFF', strokeStyle:'#ABABAB',
                                      strokeWidth:1, cssStyles:{fontSize:'85%%'}});
       });

});
</script>
</head>

<body class="oneColLiqCtrHdr">
<div id="container">
     <div id="header">
          <div id="logo"><img src="/images/wwpdb_logo.gif" width="187" height="58" alt="logo" />
          </div>
          <div id="headerCont">
               <h1>Structure Summary for Entry %(pdbid)s / %(identifier)s </h1>
          </div>
          <br class="clearfloat" />
     </div>
     <br class="clearfloat" />
     <br/>

     <div id="mainContent">
         <h4>PDB ID : &nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight: normal;">%(pdbid)s</span> &nbsp;&nbsp;&nbsp;&nbsp;
                      DEPOSITION ID : &nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight: normal;">%(identifier)s</span> </h4>
                               <h4>Entry Title : &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: normal;">%(title)s</span></h4>
         <span style="font-weight:bold; font-size:16px">
              This page provides you summary information about entity, polymer and non-polymer:
             <ol>
                 <li> For "Merge to polymer" and "Merge/Split with chopper" options, please use Chain ID and/or Ligand ID selections.
                 <li> For "Split polymer to polymer(s)/non-polymer(s)" and "Remove residue(s) from polymer sequence(s)" options, please
                      use Entity ID selection. You can select multiple entities and split them at same time.
                 <li> For "Merge to polymer" option, multiple groups can be merged at same time with appropriate group ID information.
                      If no group ID defined, all selected polymer chain(s) and non-polymer residue(s) will be merged into a single polymer.
                 <li> For "Merge/Split with chopper" option, only one group can be processed at each time. All selected polymer chain(s)
                      and non-polymer residue(s) must be physically connected.
                 <li> For "Merge to ligand" option, please only use Ligand ID selections. Multiple groups can be merged at same time with
                      appropriate group ID information.  If no group ID defined, all selected non-polymer residues will be merged into a
                      single ligand.
             </ol>
         </span>

<br/>
<br/>

<form method="post" id="structure_summary" action="/service/entity/launch_fixer" target="_blank">
<input type="hidden" name="sessionid" value="%(sessionid)s" />
<input type="hidden" name="identifier" value="%(identifier)s" />
<input type="hidden" name="pdbid" value="%(pdbid)s" />

%(form_data)s

<br/>
<br/>

<table>
    <tr>
        <td style="border-style:none"> <input style="background-color:#CEECF5" type = "submit" name = "submit" value = "Merge to polymer" /> </td>
        <td style="border-style:none"> <input style="background-color:#CEECF5" type = "submit" name = "submit" value = "Split polymer to polymer(s)/non-polymer(s)" /> </td>
        <td style="border-style:none"> <input style="background-color:#CEECF5" type = "submit" name = "submit" value = "Remove residue(s) from polymer sequence(s)" /> </td>
        <td style="border-style:none"> <input style="background-color:#CEECF5" type = "submit" name = "submit" value = "Merge/Split with chopper" /> </td>
        <td style="border-style:none"> <input style="background-color:#CEECF5" type = "submit" name = "submit" value = "Merge to ligand" /> </td>
    </tr>
</table>

</form>

     </div>
</div>
</body>
</html>
