<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Dimitris Dimitropoulos"/>

    <link href="/chemeditor/css/ui.jqgrid.css" rel="stylesheet" type="text/css"/> 
    <link href="/chemeditor/css/redmond/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css"/>
    <link href="/chemeditor/css/jquery.windows-engine.css" rel="stylesheet" type="text/css"/>
    
    <link href="/chemeditor/css/chemdiagram.css" rel="stylesheet" type="text/css"/>
    <title>Chemical chopper</title>
    
    <script type="text/javascript" src="/js/jquery-10.2/core/jquery-1.10.2.min.js"></script>
    <!--[if IE]><script type="text/javascript" src="/chemeditor/js/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/chemeditor/canvas.text.js"></script>
    <script type="text/javascript" src="/chemeditor/faces/optimer-normal-normal.js"></script>            

    <script type="text/javascript" src="/chemeditor/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="/chemeditor/js/jquery.cookie.js"></script>  
    <script type="text/javascript" src="/chemeditor/js/jquery.json-2.2.js"></script>      
    <script type="text/javascript" src="/chemeditor/js/jquery.windows-engine.js"></script>   
    <script type="text/javascript" src="/chemeditor/js/jquery.ajaxfileupload.js"></script>     
    <script type="text/javascript" src="/chemeditor/js/jquery.tools.min.js"></script>      

    <script type="text/javascript" src="/applets/jmol-dev/jsmol/JSmol.min.nojq.js"></script>
    <script type="text/javascript" src="/ccmodule/editor/js/Jmol2.js"></script>
    
    <script type="text/javascript" src="/chemeditor/jquery.chem.js"></script>
    <script type="text/javascript" src="/chemeditor/jquery.chemFormats.js"></script>
    <script type="text/javascript" src="/chemeditor/jquery.chemUI.js"></script>
    <script type="text/javascript" src="/chemeditor/jquery.objectEdit.js"> </script>

    <script type="text/javascript" src="/chemeditor/jquery.chemViews.js"> </script>
    <script type="text/javascript" src="/chemeditor/jquery.chemAjax.js"> </script>
    <script type="text/javascript">jQuery.chemAjax.getEnumeration();</script>
    <script type="text/javascript" src="/chemeditor/jquery.chemWin.js"> </script>
    <script type="text/javascript" src="/chemeditor/jquery.cifEdit.js"> </script>
    <script type="text/javascript" src="/chemeditor/jquery.chemChopper.js"> </script>
    <script type="text/javascript" src="/entity_transform_ui/js/jquery.entityFixer.js"> </script>
    <!--<script type="text/javascript" src="/chemeditor/jquery.pdbSplit.js"> </script>-->
        
    <style type="text/css"> 
       .ui-jqgrid-title, .ui-jqgrid-sortable, .ui-jqgrid-btable {font-size:13px;font-family:Sans-serif}
       .ui-jqgrid-btable {border:solid 1px gray}
       input[type="text"] {background:white;font-family:"Courier New",Courier,monospace;font-size:12px;
                           color:black;border-bottom:solid 1px #AAAAAA;border-right:solid 1px #AAAAAA;}
       table td {text-align:left;}
    </style>

    <script type="text/javascript">
       var contentSize = 0;
       $(document).ready(function(){
          jQuery.entityFixer.sessionId = '%(sessionid)s';
          jQuery.entityFixer.instId = '%(instanceid)s';
          jQuery.entityFixer.identifier = '%(identifier)s';
          jQuery.cifEdit.processing_site = '%(processing_site)s';
          jQuery.cifEdit.ccModuleFlag = false;
          var cifUrl = '%(comp)s';

     	  $('#chemWin1').chemWin({edit:{posy:100,width:700},jmol:{posy:100,posx:715,width:600},
                                  file:{posx:10,posy:645,width:1300,height:200/*hide:true*/},         	  
                                      comp:{hide:true},
                                      audit:{hide:true},
                                      synonym:{hide:true},
                                      pcm:{hide:true},
                                      feature:{hide:true},
                                      related:{hide:true},
                                      relatedatom:{hide:true},
         	                      atoms:{posx:10,posy:890,width:1300,height:200/*,hide:true*/},
         	                      bonds:{posx:10,posy:1135,width:1300,height:200/*,hide:true*/},
         	                      view:{diagram:{edit:{lock:true},readOnly:true},
             	                      atomModel:jQuery.chemChopper.ccompAtomModel,
             	                      bondModel:jQuery.chemChopper.ccompBondModel,
             	                      defaultFileFormat:'mmCif'},
         	                      control:{align2d:false,addhydro:false,align3d:false,load:false,upload:false,reset:false},
         	                      afterLoad:jQuery.chemChopper.autoSelectPeptide,
         	                      afterInit:function(){
         	                                           $('#loadCifButton_chemWin1').click(function(){jQuery.chemChopper.enableChop("chemWin1")});
         	                                           $('#uploadCifButton_chemWin1').click(function(){jQuery.chemChopper.enableChop("chemWin1")});
                                        jQuery.chemWin.loadCifUrl('chemWin1', cifUrl, 'abc');
                                        var nId = 1;
                                        jQuery.chemViews.cifEditControls('chemWin'+nId,{NewCode:false,Update:false,CheckDuplicate:false,Audit:false});

                                        if ($('#chemBonds_chemWin1_window').length) {
                                                contentSize += $('#chemBonds_chemWin1_window').position().top +
                                                $('#chemBonds_chemWin1_window').height() +
                                                $('.window-titleBar').height() +
                                                $('.window-statusBar').height() + 10;

                                                $('#footerToolbar').css('top', contentSize + 'px');
                                                $('#footer').css('margin-top', contentSize + 'px');
                                        } else {
                                                // if we don't find the RelatedAtom window, instead of placing the
                                                // button relative to the windows, we place it relative to the top
                                                // of the page, as it is done with the footer itself
                                                $('#footerToolbar').css('margin-top', '2650px');
                                        }
                                        
         	                                           }});      	      	  
        });       

jQuery.chemChopper.addNewChemWin=function(mol) {
	var nId=jQuery.chemChopper.cWinId;
	var formula=mol.formula();
        mol.chemWinId=nId;
	$('#chemWinSelector a').removeClass('chemWinSelectorOn');
	$('#chemWinCtrlBar').append(
			' <span id="chemWinPart'+mol.orderId+'">'+
			'<a href="javascript:void(0)" class="chemWinSeqCtrl" onclick="jQuery.chemChopper.movePrevSeq('+mol.orderId+')">&lt;&lt;</a>'+			
			'<a class="notMatched chemWinSelectorTab" style="color:DarkSlateGray;background-color:'+mol.markColor+'" id="chemWinToggle'+nId+'" '+
			   'href="javascript:void(0)" onclick="jQuery.chemChopper.toggleChemWin('+nId+')">'+
			' Part '+jQuery.chemChopper.cWinId+'</a>'+
			'<a href="javascript:void(0)" class="chemWinSeqCtrl" onclick="jQuery.chemChopper.moveAfterSeq('+mol.orderId+')">&gt;&gt;</a>'+
			'<a href="javascript:void(0)" class="chemWinBreakCtrl" '+
                        ' onclick="jQuery.chemChopper.markBreak('+mol.orderId+')" title="Mark (or clear) the component as an entity break point">&nbsp;</a>'+
                        '<div class="chemWinBreakType" style="position:absolute;display:none;" onmouseover="clearTimeout(jQuery.chemChopper.subPolyTimeout)">'+
                        '<select class="chemWinTypeSelect" onclick="jQuery.chemChopper.changePolymerType('+mol.orderId+')">'+
                        '<option>polymer</option><option>non-polymer</option></select>'+
                        '<div onclick="jQuery.chemChopper.hideSubPolymerTypes(true)" style="text-align:right;cursor:pointer;font-size:8px">close</div></div>'+
			'</span>'
	);
	$('#chemContent').append('<div class="chemWin" id="chemWin'+nId+'"></div>');
	$('#chemWin'+nId).chemWin({
		savePositions:false,
                edit:{posy:100,width:700},jmol:{posy:100,posx:715,width:600},
                file:{posx:10,posy:645,width:1300,height:200},         	  
                comp:{hide:true},
                audit:{hide:true},
                synonym:{hide:true},
                feature:{hide:true},
                related:{hide:true},
                relatedatom:{hide:true},
         	atoms:{posx:10,posy:890,width:1300,height:200},
         	bonds:{posx:10,posy:1135,width:1300,height:200},
		view:{diagram:{edit:{molecule:mol},noClear:true,
                      fragmentsArray:jQuery.chemChopper.leavingFragments},defaultFileFormat:'mmCif',
                      atomModel:jQuery.chemChopper.compAtomModel,
             	      bondModel:jQuery.chemChopper.ccompBondModel
                },
		control:{hide:false,align2d:false,addhydro:false,align3d:false,load:false,reset:false},
		afterInit:function(){
			$('#chemControl_chemWin'+nId).append(
                                        '<span style="display:none" id="altOptionsSpan'+nId+'">'+
                                        '  <select id="altOptions'+nId+'">'+
                                        '  </select>'+
					'  <input type="button" value="Match Alternative" onclick="jQuery.chemChopper.forceMatch(\'altOptions\','+nId+')"/>'+
                                        '</span>'+
					'<input type="textbox" id="forceMatchId'+nId+'" value="" size="3"/>'+					
					'<input type="button" value="Force Match" onclick="jQuery.chemChopper.forceMatch(\'forceMatchId\','+nId+')"/>'+
					'<input type="button" value="Retry Match" onclick="jQuery.chemChopper.tryToMatch('+nId+')"/>'+
					' <span id="verifyCtrl'+nId+'"> Accept match:'+
					'  <input id="verifyCheckbox'+nId+'" type="checkbox" onchange="jQuery.chemChopper.verifyMatch('+nId+')"/>'+
					' </span>'+
					' <span style="margin-left:30px" id="parentCtrl'+nId+'"> Parent Component:'+
					'  <input id="parentId'+nId+'" type="input" size="3"/>'+
					'  <input id="parentIdSet'+nId+'" type="button" value="Set" onclick="jQuery.chemChopper.setParent('+nId+')"/>'+	
					'  <input id="useNamesSet'+nId+'" type="button" value="Use names" onclick="jQuery.chemChopper.useNames('+nId+')"/>'+
					' </span>'+
					' <span style="font-family:sans-serif;font-size:13px" id="exactMatches'+nId+'"></span>'+
					' <span style="font-family:sans-serif;font-size:13px" id="closeMatches'+nId+'"></span>'
			);
                        jQuery.chemViews.cifEditControls('chemWin'+nId,{NewCode:false,Update:false,CheckDuplicate:false,Audit:false});
			jQuery.chemChopper.tryToMatch(nId,true);
	               // jQuery.chemChopper.toggleChemWin(1);    
		        $('#chemWin'+nId).chemWinShow(false);
		}});
		$('#chemWin'+nId).chemWinShow(false);
	jQuery.chemChopper.cWinId++;           
}
    </script>
 </head>
 <body>
   
   <div id="chemWinSelector">
      <span style="margin-right:10px">
      <a href='javascript:window.location.reload()' style="text-decoration:none;border-bottom:solid 6px LightSlateGray;" 
         onclick='window.location.reload();return false;'><img src="/chemeditor/logo.png" border="0" style="padding-bottom:0px"/>
      <span style="font-family:sans-serif;color:DarkSlateGray;font-size:18px;font-weight:bold;text-decoration:none;">Chemical Chopper</span></a>
      <a href="/chemeditor/help.html" style="text-decoration:none;vertical-align:bottom" target="_blank">
          <span style="margin-left:40px;font-family:sans-serif;color:DarkRed;font-size:10px;font-weight:bold;">Chopper Help</span></a>
      </span>
<!--
      <span style="font-family: Sans-serif; color:gray; font-size:12px" id="chopExamples">Examples: 
              <a href="http://ligand-expo.rcsb.org/reports/0/0Z9/0Z9.cif">0Z9</a> 
              <a href="http://ligand-expo.rcsb.org/reports/X/X9A/X9A.cif">X9A</a> 
              <a href="http://ligand-expo.rcsb.org/reports/0/0EZ/0EZ.cif">0EZ</a> 
              <a href="http://ligand-expo.rcsb.org/reports/N/NFD/NFD.cif">NFD</a>
       </span>
-->
      <span id="chopButton">
              <input type="button" onclick="jQuery.chemChopper.selectBonds();" value="Select bonds"
               title="Click to select the default polymer type bond for chopping. Use the drop down to restrict the polymer type (peptide/sugar)"/>
              <select onchange="jQuery.chemChopper.changeSelectMode();" id="selectTypeOptions">
                   <option>auto</option>
                   <option style="background-color:GreenYellow">peptide</option>
                   <option style="background-color:MediumTurquoise">sugar</option>
                   <option style="background-color:OrangeRed">other</option>
              </select>
              <input type="button" onclick="jQuery.chemChopper.chopOnSelected();" value="Chop" title="Chop the component in subcomponents and try to match them in the dictionary"/>
      </span>
      <span style="display:inline" id="applyToPDBDiv">
<!--
                 <input type="file" name="data" id="pdbFileName"/> 
                 <span style="font-family: Sans-serif; color:gray; font-size:12px"><a href="1MTR.pdb">1MTR</a>
                 </span>
-->
%(button)s
                 Apply to All Instances <input type="checkbox" id="applyToAll" value="true" />
      </span>
      <img style="visibility:hidden" src="/chemeditor/ajaxProgress.gif" id="ldmsg_chop"/>
<!--
      <span style="margin-left:20px"><input type="button" onclick="location.reload();" value="New Session" title="Start a new clean session of the Chopper"/></span>
-->
   </div>
   <div id="chemContent" style="border-top:solid 1px black">
   <div style="display:none;font-family:sans-serif" id="renameButton">      
   <!--  The rename atoms functionality is disabled
         <input type="button" onclick="jQuery.chemChopper.useSubNames();" value="Use Subcomponent Nomenclature"/>
         Use letter suffix <input type="checkbox" id="renameUseLetters" value="true"/>                  
   -->
   </div>                        
      <div class="chemWin" id="chemWin1"></div>
   </div>   

   <div style="position: absolute; left:2px;" id="footerToolbar"></div>
 </body>
</html>
